
    <main>
        <h1>Create New Offer</h1>
        <p class="message"></p>
        <form action="/create" method="POST">
            <div>
                <input type="text" name="name" placeholder="Name..." value="{{body.name}}">
            </div>
            <div>
                <input type="text" name="price" placeholder="Price..." value="{{body.price}}">
            </div>
            <div>
                <input type="text" name="imageUrl" placeholder="Image url..." value="{{body.imageUrl}}">
            </div>
            <div>
                <textarea name="description" placeholder="Give us some description about this offer...">{{body.description}}</textarea>
            </div>
            <div>
                <input type="text" name="brand" placeholder="Brand..." value="{{body.brand}}">
            </div>
            <div>
                {{#each errors}}
                <p class="message">{{msg}}</p>
                {{/each}}
                <button>Create</button>
            </div>
        </form>
    </main>