
    <main>
        <h1>Register</h1>
        <p class="form-info">Already registered?
            <a href="/login">Login now</a> and have some fun!
        </p>
        <form action="/register" method="POST">
            <div>
                <input type="email" name="email" placeholder="Email..." value="{{body.email}}">
            </div>
            <div>
                <input type="text" name="fullName" placeholder="Full name..." value="{{body.fullName}}">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" value="{{body.password}}">
            </div>
            <div>
                <input type="password" name="rePassword" placeholder="Re-password" value="{{body.rePassword}}">
            </div>
            <div>
                {{#each errors}}
                <p class="message">{{msg}}</p>
                {{/each}}
                <button>Register</button>
            </div>
        </form>
    </main>
